<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672618113083-upao6ua8efp4p2r5q3vl738or541g1us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672618113083-upao6ua8efp4p2r5q3vl738or541g1us</string>
	<key>API_KEY</key>
	<string>AIzaSyDfbmJjYIdch6oLQZgEFtitqYnKbJgkTVA</string>
	<key>GCM_SENDER_ID</key>
	<string>672618113083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mypackage.Roadangel21</string>
	<key>PROJECT_ID</key>
	<string>roadangel21-c64f8</string>
	<key>STORAGE_BUCKET</key>
	<string>roadangel21-c64f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672618113083:ios:41fb2f576d942246c1541e</string>
</dict>
</plist>